# Quest1 List

In [9]:
#list
list = ['Java','Python','Html','SQL']
print(list)

['Java', 'Python', 'Html', 'SQL']

In [8]:
list.append('AWS')
print(list)

['Java', 'Python', 'VB', 'Html', 'SQL', 'AWS', 'AWS']

In [17]:
list.insert(2,'VB')
print(list)

['Java', 'Python', 'VB', 'Html', 'SQL']

In [10]:
list1=[1,2,1,1,3,4]
print(list1)

[1, 2, 1, 1, 3, 4]

In [11]:
list1.extend(list)
print(list1)

[1, 2, 1, 1, 3, 4, 'Java', 'Python', 'Html', 'SQL']

In [12]:
list1.count(1)

3

In [18]:
list

['Java', 'Python', 'VB', 'Html', 'SQL']

In [19]:
list.index('Html')

3

In [20]:
list1

[1, 2, 1, 1, 3, 4, 'Java', 'Python', 'Html', 'SQL']

In [22]:
list1.index(2,1,5)

1

# Quest2 Dict

In [23]:
dit= {'name': 'Divya',
     'age' : '23',
     'number ': '22222',
     'email': 'nair97divya@gmail.com' }

In [24]:
dit

{'name': 'Divya',
 'age': '23',
 'number ': '22222',
 'email': 'nair97divya@gmail.com'}

In [25]:
dit['name']

'Divya'

In [26]:
dit.items()

dict_items([('name', 'Divya'), ('age', '23'), ('number ', '22222'), ('email', 'nair97divya@gmail.com')])

In [27]:
dit.keys()

dict_keys(['name', 'age', 'number ', 'email'])

In [28]:
dit['loct'] ={'City':'Thane','State':'Maharashtra'}

In [29]:
dit.items()

dict_items([('name', 'Divya'), ('age', '23'), ('number ', '22222'), ('email', 'nair97divya@gmail.com'), ('loct', {'City': 'Thane', 'State': 'Maharashtra'})])

In [30]:
print(dit['loct']['City'])

Thane

In [33]:
del dit['loct']['City']

In [37]:
print('After Deletion:')
dit

After Deletion:

{'name': 'Divya',
 'age': '23',
 'number ': '22222',
 'email': 'nair97divya@gmail.com',
 'loct': {'State': 'Maharashtra'}}

In [42]:
dit.pop('email')

'nair97divya@gmail.com'

In [43]:
dit

{'name': 'Divya', 'age': '23', 'number ': '22222'}

In [44]:
dit.clear()

In [45]:
dit

{}

# Quest3 Sets

In [47]:
sets = {'name','address', 2,3,2,4,1,5,1}

In [48]:
sets

{1, 2, 3, 4, 5, 'address', 'name'}

In [49]:
set1 ={1,2,3,4,5,}

In [50]:
set1.issubset(sets)

True

In [51]:
sets.add('city')

In [52]:
sets

{1, 2, 3, 4, 5, 'address', 'city', 'name'}

In [53]:
sets.difference(set1)

{'address', 'city', 'name'}

In [54]:
set2= sets.copy()

In [55]:
set2

{1, 2, 3, 4, 5, 'address', 'city', 'name'}

In [56]:
set1.intersection(set2)

{1, 2, 3, 4, 5}

In [57]:
set1.pop()

1

In [58]:
sets.remove('city')

In [59]:
sets

{1, 2, 3, 4, 5, 'address', 'name'}

In [60]:
set1.union(set2)

{1, 2, 3, 4, 5, 'address', 'city', 'name'}

# Quest4 Tuple

In [61]:
tup= (1,2,3,4,1,3,5,6,7)

In [62]:
tup

(1, 2, 3, 4, 1, 3, 5, 6, 7)

In [65]:
print('tuple at index 1 :')
tup[1]

tuple at index 1 :

2

In [66]:
print('tuple at index -1 :')
tup[-1]

tuple at index -1 :

7

In [69]:
print(tup)
print('tuple from range 2 to 5:')

tup[2:5]

(1, 2, 3, 4, 1, 3, 5, 6, 7)
tuple from range 2 to 5:

(3, 4, 1)

In [70]:
print('tuple from range -4 to -1')
tup[-4:-1]

tuple from range -4 to -1

(3, 5, 6)

In [72]:
print('Original tuple')
tup

Original tuple

(1, 2, 3, 4, 1, 3, 5, 6, 7)

In [75]:
len(tup)

9

In [76]:
tupl1 = ('a','b','c','d')

In [77]:
tupl= tup+tupl1
tupl

(1, 2, 3, 4, 1, 3, 5, 6, 7, 'a', 'b', 'c', 'd')

In [78]:
tupl.count(1)

2

In [79]:
tupl.index(4)

3

# Quest5 String

In [80]:
string = "divya chandran nair"

In [81]:
string.capitalize()

'Divya chandran nair'

In [83]:
char = "a,b,c,a,d,a,e,f"

In [85]:
char.count('a')

3

In [86]:
char.find('d')

8

In [87]:
char.find('a')

0

In [88]:
char.isalnum()

False

In [89]:
char.isalpha()

False

In [90]:
string.casefold()

'divya chandran nair'

In [91]:
string.split()

['divya', 'chandran', 'nair']